<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Bundle
    Name="GameBot Installer"
    Version="1.0.0.0"
    Manufacturer="GameBot"
    UpgradeCode="A4A4E35D-3A8A-4DC0-BF53-C8E3C9A1A101">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
        Theme="standard"
        LicenseUrl="https://example.com/license" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="payload\\GameBot.msi" DisplayInternalUI="no" />
    </Chain>
  </Bundle>
</Wix>
