<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="GameBot"
    Manufacturer="GameBot"
    Version="1.0.0.0"
    UpgradeCode="B7CA67D4-9DE5-43F5-BE43-EA9A00A3E202"
    Scope="perUser"
    Language="1033"
    InstallerVersion="500">

    <ui:WixUI Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="Assets\License.rtf" />

    <Property Id="WixUISupportPerUser" Value="1" />
    <Property Id="ApplicationFolderName" Value="GameBot" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Run GameBot background app now" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

    <CustomAction
      Id="LaunchBackgroundApp"
      Directory="SystemFolder"
      ExeCommand="cmd.exe /c start &quot;&quot; /min &quot;[APPLICATIONFOLDER]GameBot.Service.exe&quot;"
      Execute="immediate"
      Return="asyncNoWait"
      Impersonate="yes" />

    <CustomActionRef Id="DetectAvailablePorts" />
    <CustomActionRef Id="DiscoverBindInterfaces" />
    <UI>
      <DialogRef Id="NetworkConfigDlg" />
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchBackgroundApp"
        Order="1"
        Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND ((NOT Installed) OR (REINSTALL AND NOT REMOVE~=&quot;ALL&quot;))" />
    </UI>

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of GameBot is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="GameBot" Level="1">
      <ComponentGroupRef Id="GameBotFiles" />
      <ComponentGroupRef Id="ServicePayloadFiles" />
      <ComponentGroupRef Id="WebUiPayloadFiles" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentGroupRef Id="DataDirectoryComponents" />
      <ComponentGroupRef Id="StartupRegistrationComponents" />
      <ComponentGroupRef Id="PersistedConfigComponents" />
    </Feature>
  </Package>
</Wix>
