<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="GameBot"
    Manufacturer="GameBot"
    Version="1.0.0.0"
    UpgradeCode="B7CA67D4-9DE5-43F5-BE43-EA9A00A3E202"
    Scope="perUser"
    Language="1033"
    InstallerVersion="500">

    <ui:WixUI Id="WixUI_InstallDir" />

    <Property Id="WixUISupportPerUser" Value="1" />
    <Property Id="ApplicationFolderName" Value="GameBot" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <CustomActionRef Id="DetectAvailablePorts" />
    <UI>
      <DialogRef Id="NetworkConfigDlg" />
    </UI>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="GameBot" Level="1">
      <ComponentGroupRef Id="GameBotFiles" />
      <ComponentGroupRef Id="ServicePayloadFiles" />
      <ComponentGroupRef Id="WebUiPayloadFiles" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentGroupRef Id="DataDirectoryComponents" />
      <ComponentGroupRef Id="StartupRegistrationComponents" />
      <ComponentGroupRef Id="PersistedConfigComponents" />
    </Feature>
  </Package>
</Wix>
