<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Id="NetworkConfigDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="20" Transparent="yes" NoPrefix="yes" Text="Configure network settings" />
        <Control Id="Description" Type="Text" X="20" Y="26" Width="330" Height="28" Transparent="yes" NoPrefix="yes" Text="Set port used by GameBot." />

        <Control Id="WebPortLabel" Type="Text" X="20" Y="82" Width="150" Height="15" Text="Port:" />
        <Control Id="WebPortEdit" Type="Edit" X="180" Y="80" Width="160" Height="18" Property="WEB_PORT" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)" />
      </Dialog>

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="NetworkConfigDlg" Order="100" Condition="1" />
      <Publish Dialog="NetworkConfigDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Condition="1" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="SpawnWaitDialog" Value="WaitForCostingDlg" Condition="1 OR CostingComplete = 1" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="EndDialog" Value="Return" Condition="WEB_PORT &lt;&gt; &quot;&quot; AND OutOfDiskSpace &lt;&gt; 1" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="SpawnDialog" Value="OutOfRbDiskDlg" Condition="WEB_PORT &lt;&gt; &quot;&quot; AND OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST=&quot;P&quot; OR NOT PROMPTROLLBACKCOST)" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="EndDialog" Value="Return" Condition="WEB_PORT &lt;&gt; &quot;&quot; AND OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST=&quot;D&quot;" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="EnableRollback" Value="False" Condition="WEB_PORT &lt;&gt; &quot;&quot; AND OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST=&quot;D&quot;" />
      <Publish Dialog="NetworkConfigDlg" Control="Next" Event="SpawnDialog" Value="OutOfDiskDlg" Condition="WEB_PORT &lt;&gt; &quot;&quot; AND ((OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST=&quot;F&quot;))" />
      <Publish Dialog="NetworkConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg" Condition="1" />
    </UI>
  </Fragment>
</Wix>